
@{
    ViewBag.Title = "Index";
}

<div className="ui container" id="root"></div>
<script type="text/javascript"
        src="@Url.Content("~/Scripts/react/dist/index.js")"></script>

@*<form action="/Claim/Create" method="post">
        Vehicle Id:<br>
        <input type="text" name="vehicle"><br>
        Damage Part:<br>
        <input type="text" name="damagePart"><br>
        Severity: <br />
        <select name="severity">
            <option value="minor">minor</option>
            <option value="medium">medium</option>
            <option value="severe">severe</option>
        </select>
        <br />
        <br />
        <input type="submit" value="Submit">
    </form>*@